
# Enable user friendlier urls in YII

Options +FollowSymLinks
IndexIgnore */*

RewriteEngine on


# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule ^(.+)$ /volax4/index.php/$1


# for working inside a folder named "booksrv" we have the following rule
# RewriteRule ^terms$ /volax4/index.php?r=site/page&view=termsconditions

