<html>
<head>
	<meta http-equiv="Content-Language" content="en-us">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="Βωλάξ">
	<title>Βωλάξ</title>
	<link rel="stylesheet" href="theme/appearance.css">
	<LINK REL="SHORTCUT ICON" HREF="theme/volax.ico">
	<script type="text/javascript" language="JavaScript1.2" src="stm31.js"></script>
	<script type="text/javascript" language="JavaScript1.2" src="jquery.js"></script>
</head>

<body bgcolor="#8fb7d0" topmargin=0 background="theme/bg2.jpg" style="background-repeat:repeat-x;">
	<table cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td style="padding-right:20px;" >
							<img src="theme/logo.jpg"></td><td style="padding-right:80px; background-repeat:no-repeat;" background="theme/green.jpg" valign="top" class="titlewhite2"><a class="titleblack10" href="ligalogia.asp">www.volax-tinos.gr</a><br><a class="titlewhite2" href="ligalogia.asp">Ποιοι είμαστε</a>
						</td>
						<td style="padding-right:20px;">
							<a href="ContactForm.asp"><img src="theme/talk.jpg" border="0"></a>
						</td>
						<td style="padding-right:10px;">
							<a href="vour.asp"><img src="theme/wd01.jpg" border="0"></a>
						</td>

					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td id="tdMenu">
				<!-- menu was here -->
			</td>
		</tr>
	</table>



<SCRIPT LANGUAGE="JavaScript">
function openWindow(URL,x,y) {
  x=x+15;
  y=y+25;
  if (x<screen.availWidth) {
    var nLeft,nTop
    nLeft=(screen.availWidth-x)/2
    nTop=(screen.availHeight-y)/2    
    newWindow = window.open(URL, "myNewWindow", "toolbar=0, location=0, directories=0,"+
    "status=0, menubar=0, scrollbars=1, resizable=0, width="+x+", height="+y+", left="+nLeft+", top="+nTop);
  } else {
    newWindow = window.open(URL, "myNewWindow", "toolbar=0, location=0, directories=0,"+
    "status=0, menubar=0, scrollbars=1, resizable=1, width="+(screen.availWidth-30)+", height="+y+", left=15, top=100")
  }
  //newWindow.document.title="PocketBiz Demo"
}

</SCRIPT>



<table cellpadding="0" cellspacing="0" align="center" width="868" height="38"><tr><td></td></tr></table>

<table cellpadding="0" cellspacing="0" align="center" width="868">
  <tr>
<td valign="top" bgcolor="white">
  <table cellpadding="0" cellspacing="0">
     <tr><td width="193" height="39" bgcolor="b5e1e5"><p class="titleblack">Τα πάντα για το χωριό!</p></td></tr>
     <tr><td bgcolor="bfbdbd" background="theme/wd_02.jpg" style="background-repeat:no-repeat;"><p class="body">
     <a class="body" href="press.html">εφημερίδες \ περιοδικά</a><br>
     <a class="body" href="biblia.html">βιβλία</a><br>
     <a class="body" href="tv.html">τηλεόραση \ internet</a><br><br>
     </p></td></tr>
     <tr><td width="193" height="39" bgcolor="41637e"><p class="titlewhite" ><a class="titlewhitelink" href="eikastika.html">Ζωγραφική</a></p></td></tr>
     <tr><td width="193" height="39" bgcolor="41637e"><p class="titlewhite" ><a class="titlewhitelink" href="eikastika2.html">Φωτογραφία</a></p></td></tr>
     <tr><td width="193" height="39" bgcolor="e6d7a4"><p class="titleblack">Forget me not!</p></td></tr>
     <tr><td bgcolor="b5e1e5" height="36"><p class="body"><a class="linkfoto" href="totektora.html">αναμνήσεις - σχόλια<br></a></p></td></tr>
     <tr><td width="193" height="39" bgcolor="e6d7a4"><p class="titleblack">Σύνδεσμοι</p></td></tr>
     <tr><td bgcolor="b5e1e5" height="36"><p class="body"><a class="linkfoto" href="links.html">σερφάρισμα στο... νησί</a>
     </p></td></tr>
     <tr><td bgcolor="7f95a8" align="center" height="209" valign="middle"><img src="theme/rock.jpg"></td></tr>
 </table>
</td>
   
<td valign="top" bgcolor="white" align="left">
 <table cellpadding="0" cellspacing="0" align="center" width="675">
 
 <tr><td colspan="2"><p class="pagetitle">Terra incognita</p></td></tr>
 <tr><td colspan="2"><p class="epilogosn">Αναρτήθηκε: 20.04.2010 από: Leopold Dustal </p></td></tr>
 <tr>
 <td style="padding-top:8px; padding-left:25px;">
 <table align="left" cellpadding="0" cellspacing="0px">
 <tr>
 <td valign="top"><img src="http://volax.gr/uploads/jimel/old_site/images/Goldie.jpg" border="0"><br><br>
 <a href="javascript: openWindow('images/Goldb.jpg',710,476)" title="πατήστε για να δείτε την φωτογραφία μεγαλύτερη"><img src="http://volax.gr/uploads/jimel/old_site/images/Gold.jpg" border="0"></a>
</td>
 <td><p class="prologosb"><b>Πάντα είχαν ενδιαφέρον οι ιστορίες - θρύλοι για πειρατικούς θησαυρούς χωμένους σε σπηλιές πλάι στη θάλασσα και 
 για ναυάγια πλοίων που, φορτωμένα με χρυσό και ασήμι, που βουλιάξαν από θαλάσσια συμπλοκή ή τον κακό καιρό των δυνατό καιρό του Αιγαίου. 
 Οι ληστές και οι πειρατές προτιμούσαν να απαλλαγούν σύντομα από τα πολύτιμα φορτία τους και έτσι επέλεγαν να τα κρύβουν σε εύκολα 
 αλλά ταυτόχρονα δυσπρόσιτα σημεία, όπως χαράδρες, πηγάδια ή σπηλιές. </b></p>
 <p class="pagebodyn">
Υπάρχουν ιστορίες με κλεμμένα γρόσια από την τουρκοκρατία ή κρυμμένες αγγλικές λίρες από την περίοδο της γερμανοϊταλικής κατοχής που 
έθαψαν οι χωρικοί στα χωράφια και τα βουνά για να τις γλυτώσουν. Πολλούς θησαυρούς άφησαν οι Τούρκοι πριν φύγουν από την Ελλάδα. 
<em>«Το αγαπημένο τους... χρηματοκιβώτιο ήταν το καζάνι και σπανιότερα το πιθάρι. Έκρυβαν τους θησαυρούς τους χρησιμοποιώντας σαν δόλωμα 
ένα μικρότερο δίπλα του και σε μικρότερο βάθος, ώστε όποιος τον έβρισκε να σταματούσε εκεί. Τα σημάδια τους ήταν η στάχτη, τα κάρβουνα 
και ο ασβέστης, μια και το πέρασμα του χρόνου δεν αλλοιώνει αυτά τα υλικά». </em><font class="pagebodygreen">[Τα Νέα, 2007]</font> <br><br>

Σ' όλα τα μήκη και τα πλάτη της Eλλάδας αναζητούνται τέτοιοι θησαυροί. Οι πωλήσεις ανιχνευτών μετάλλων 
 στην Ήπειρο είναι πολύ μεγάλη (δεκάδες άνθρωποι ψάχνουν μέχρι σήμερα τον θησαυρό του Αλή Πασά), αλλά και στην <em>Τήνο </em>πολλοί μύθοι 
 έχουν φτιαχτεί για τους θησαυρούς αυτούς. Ότι είναι στοιχειωμένοι, καταραμένοι αλλά και αμύθητοι. Για να κεντρίζουν την φαντασία και 
 την περιέργεια.<br><br>

Το πέρασμα Ενετών, Σταυροφόρων, Σαρακηνών πειρατών αλλά και Οθωμανών, άφησε πίσω του κρυμμένους θησαυρούς που οι κάτοχοί τους προσπάθησαν 
να τους προφυλάξουν από τους άρπαγες και ανάλογα με τις συνθήκες επέλεγαν τον τρόπο με τον οποίο τους έκρυβαν...<br><br>

Ρωτήσαμε τους γεροντότερους του χωριού αν γνωρίζουν και θυμούνται τέτοιες ιστορίες στο χωριό. Οι περισσότεροι μάς μίλησαν για λίγα χρυσά 
νομίσματα, την περίοδο της κατοχής, που κάποιος είχε κρύψει στον τοίχο του σπιτιού του ή κάποιος άλλος, σε κάποιο σκεύος στο χωράφι του 
κοντά στο πηγάδι του χωριού, αλλά τίποτα περισσότερο. Κάποιοι λένε ότι υπήρχαν εκεί «κρυμμένα μαλάματα», όχι πολλά, αλλά κανείς δεν 
μπορεί να υποστηρίξει με σιγουριά αν υπήρχαν ή τι απέγιναν.<br><br>



Ιστορίες που μοιάζουν με παραμύθια και εξάπτουν τη φαντασία πολλών Ελλήνων σε μια γη –σαν αυτή της <em>Βωλάξ</em>– που παραμένει 
ακόμη <em>terra incognita</em>.


</p>
</td></tr>
 </table>
 </td></tr>
 
<tr><td><br></td></tr>

</table>

</td>
</tr></table>
<% If Request("index") = 2 Then%>
<script type="text/javascript" >
var el = document.getElementById("tdSecondArticle");
$(document).scrollTop(parseInt($(el).position().top));
</script>

<% elseif Request("index") = 3 Then%>
<script type="text/javascript" >
var el = document.getElementById("tdThirdArticle");
$(document).scrollTop(parseInt($(el).position().top));
</script>

<% End If%><!-- #INCLUDE FILE="bottom.asp"-->