
/* for fluid video widths */
div.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
div.videoWrapper > iframe.videoPlayer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.audioWrapper {
	max-width: 100%;
}

div.audioWrapper > object.audioPlayer {
	max-width: 100%;
	height: 24px;
}



/* for "gallery" content preprocessor plugin */
table.img-gallery {
	border-collapse: collapse;
	margin: 1em 0;
	width: 100%;
}
table.img-gallery tr {
	background-color: transparent !important;
}
table.img-gallery td {
	border: none !important;
	text-align: center;
	font-size: 80%;
	padding: 0 1% 1% 0;
}
table.img-gallery img {
	max-width: 100%;
}
