/* 
	CEditor creates an iframe, containing html, head, body.
	body has a class of "cke_editable" among other things.
	the CKEditor javascript property "contentCss" points to a URL with a custom stylesheet.
	this stylesheet is included in this iframe.
	it is this very file
 */


/* this one works inside the iframe body of ckeditor */
body.cke_editable {
	font-family: 'Open sans',sans-serif;
	font-size: 10pt;
}
body.cke_editable img {
	max-width: 100%;
}

/* formatting based on website style */
.x-style-alt-color { 
	color: #0099ff;
	font-weight: bold;
}

.x-style-footnotes { 
	color: #808080;
}

.x-style-low-text {
	color: #cc0;
	
}

.x-style-reference { 
	color: #6c3;
}


	


