.titleblack
{
    FONT-SIZE: 15px;
    COLOR: #000000;
    PADDING-left: 10px;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Tahoma, Arial, Verdana
}
.titlewhite
{
    FONT-SIZE: 15px;
    COLOR: #ffffff;
    PADDING-left: 10px;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Tahoma, Arial, Verdana
}
.titlewhite2
{
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    PADDING-left: 5px;
    PADDING-top: 3px;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Tahoma, Arial, Verdana;
    TEXT-DECORATION:none;
    text-align:center
}
.titlewhite2:hover
{
font-weight:bold;
}
.titleblack10
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    PADDING-left: 5px;
    PADDING-top: 3px;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Tahoma, Arial, Verdana;
    TEXT-DECORATION:none;
    text-align:center
}
.titleblack10:hover
{
font-weight:bold;
}


.body
{
    PADDING-TOP: 5px;
    PADDING-left: 10px;
    LINE-HEIGHT: 18pt;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
    text-decoration:none
}
.body:hover
{
font-weight:bold;
}
.bodydata
{
    PADDING-TOP: 5px;
    PADDING-left: 10px;
    FONT-SIZE: 12px;
    vertical-align:top;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;

}
.bodydata2
{
    PADDING-TOP: 5px;
    PADDING-left: 10px;
    FONT-SIZE: 10px;
    vertical-align:top;
    COLOR: #ffffff;
    FONT-STYLE:inherit;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;

}

.date
{
    PADDING-TOP: 5px;
    PADDING-left: 10px;
    FONT-SIZE: 12px;
    font-weight:bold;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;

}

.newslink
{
    PADDING-TOP: 5px;
    PADDING-left: 10px;
    LINE-HEIGHT: 18pt;
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
    text-decoration:none
}
.newslink:hover
{
font-weight:bold;
}
.titlewhitelink
{
    FONT-SIZE: 15px;
    COLOR: #ffffff;
    PADDING-left: 6px;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Tahoma, Arial, Verdana;
    text-decoration:none
}
.titlewhitelink:hover
{
font-weight:bold;
}

.cell
{
    PADDING-TOP: 15px;
    PADDING-BOTTOM: 15px;
}

.bodydatablack
{
    PADDING-TOP: 10px;
    PADDING-BOTTOM: 5px;
    PADDING-left: 10px;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;

}
.linkfoto
{
    PADDING-left: 10px;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
    TEXT-DECORATION: none
}
.linkfoto:hover
{
font-weight:bold;
}
.rightlink
{
    PADDING-TOP: 5px;
    PADDING-left: 10px;
    LINE-HEIGHT: 18pt;
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-weight: bold;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
    text-decoration:none;
}
.rightlink:hover
{
font-weight:bold;
COLOR: #cf463f;
}

.pagetitle
{
    PADDING-LEFT: 25px;
    PADDING-TOP: 25px;
    FONT-SIZE: 22px;
    LINE-HEIGHT: 25pt;
    COLOR: #4b5520;
    font-weight:bold;
    FONT-FAMILY: Tahoma, Verdana, Arial, 'Arial Narrow', Helvetica, sans-serif;
    TEXT-ALIGN: left
}
.pagetitlesm
{
    PADDING-TOP: 25px;
    FONT-SIZE: 19px;
    LINE-HEIGHT: 25pt;
    COLOR: #4b5520;
    font-weight:bold;
    FONT-FAMILY: Tahoma, Verdana, Arial, 'Arial Narrow', Helvetica, sans-serif;
    TEXT-ALIGN: left
}
.pagebodygreb
{
    PADDING-TOP: 25px;
    FONT-SIZE: 17px;
    LINE-HEIGHT: 25pt;
    COLOR: #4b5520;
    font-weight:bold;
    FONT-FAMILY: Tahoma, Verdana, Arial, 'Arial Narrow', Helvetica, sans-serif;
    TEXT-ALIGN: left
}

.emailbody
{
    PADDING-TOP: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-right: 25px;
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #404040;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}

.pagebody
{
    PADDING-TOP: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-left: 25px;
    PADDING-right: 25px;
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #404040;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}
.pagebodytrees
{
    PADDING-BOTTOM: 10px;
    PADDING-left: 25px;
    PADDING-right: 25px;
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #404040;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}

.pagebody5
{
    PADDING-left: 50px;
    PADDING-right: 25px;
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #404040;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}

.pagebody2
{
    PADDING-TOP: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-right: 25px;
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #404040;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}
.pagebodyn2
{
    PADDING-right: 25px;
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #404040;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}

.pagebodyn
{
    PADDING-left: 25px;
    PADDING-right: 25px;
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #404040;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}
.pagebodylink
{
    PADDING-left: 25px;
    PADDING-right: 25px;
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #404040;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}

.pagebodygreen
{
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #82cb40;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}
.pagebodyblue2
{
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #8795df;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}
.pagebodyblue3
{
     PADDING-left: 25px;
     PADDING-right: 25px;
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #8795df;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}
.pagebodyblue
{
     PADDING-left: 100px;
     PADDING-right: 25px;
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #8795df;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}

.pagebodygrey
{
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #706e6a;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}


.epilogos
{
    PADDING-TOP: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-left: 25px;
    PADDING-right: 25px;
    LINE-HEIGHT: 12pt;
    FONT-SIZE: 11px;
    TEXT-ALIGN:left;
    COLOR: #404040;
    FONT-STYLE:oblique;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}
.epilogosn
{
    PADDING-TOP: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-left: 25px;
    PADDING-right: 25px;
    LINE-HEIGHT: 12pt;
    FONT-SIZE: 11px;
    TEXT-ALIGN:left;
    COLOR: #404040;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}
.epilogosn2
{
    PADDING-TOP: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-left: 25px;
    PADDING-right: 25px;
    LINE-HEIGHT: 12pt;
    FONT-SIZE: 11px;
    TEXT-ALIGN:left;
    COLOR: #4b5520;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}


.comments
{
    PADDING-TOP: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-left: 25px;
    PADDING-right: 25px;
    LINE-HEIGHT: 10pt;
    FONT-SIZE: 10px;
    TEXT-ALIGN:left;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}
.commentsgreen
{
    PADDING-TOP: 10px;
    PADDING-BOTTOM: 10px;
    LINE-HEIGHT: 10pt;
    FONT-SIZE: 10px;
    TEXT-ALIGN:left;
    COLOR: #82cb40;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}

.prologos
{
    PADDING-TOP: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-left: 25px;
    PADDING-right: 25px;
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #4b5520;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}

.epilogosn2
{
    PADDING-TOP: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-left: 25px;
    PADDING-right: 25px;
    LINE-HEIGHT: 12pt;
    FONT-SIZE: 11px;
    TEXT-ALIGN:left;
    COLOR: #4b5520;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}

.prologosb
{
    PADDING-left: 25px;
    PADDING-right: 25px;
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #4b5520;
    FONT-STYLE: bold;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}

.home
{
    PADDING-TOP: 10px;
    PADDING-BOTTOM: 10px;
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #404040;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}

.videolink
{
    PADDING-BOTTOM: 10px;
    PADDING-left: 25px;
    PADDING-right: 25px;
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #4b5520;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}
.videolink:hover
{
font-weight:bold;
COLOR: #4b5520;
}
.LinksNotUnderlined
{
    FONT-SIZE: 9pt;
    COLOR: #0079d6;
    TEXT-DECORATION: none
}
.table
{
    PADDING-TOP: 5px;
    PADDING-BOTTOM: 5px;
    PADDING-left: 5px;
    PADDING-right: 5px;
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #404040;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
    text-decoration:none;
}
.tablelink
{
    PADDING-TOP: 5px;
    PADDING-BOTTOM: 5px;
    PADDING-left: 5px;
    PADDING-right: 5px;
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #0071ab;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
    text-decoration:none;
}
.bluelink
{
    PADDING-TOP: 5px;
    PADDING-BOTTOM: 5px;
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #0071ab;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
    text-decoration:none;
}


.cell1light
{
  background-color:e6e6e6;
  width:97pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}
.cell1dark
{
  background-color:d2d2d2;
  width:97pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}

.cell4light
{
	width:270pt;
	background-color:e6e6e6;
	border-left:none;
	padding:0cm 5.4pt 0cm 5.4pt
}
.cell4dark
{
	width:270pt;
	background-color:d2d2d2;
	border-left:none;
	padding:0cm 5.4pt 0cm 5.4pt
}
.cell
{
  background-color:white;
  width:97pt;
  border-top:none;
  padding:0cm 0pt 0cm 0pt;
}
.cellbig
{
  background-color:white;
  width:120pt;
  border-top:none;
  padding:0cm 0pt 0cm 0pt;
}

.cell7light
{
  background-color:e6e6e6;
  width:165pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}
.cell7dark
{
  background-color:d2d2d2;
  width:165pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}
.cell70light
{
  background-color:e6e6e6;
  width:240pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}
.cell70dark
{
  background-color:d2d2d2;
  width:240pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}

.cell2light
{
  background-color:e6e6e6;
  width:15pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}
.cell2dark
{
  background-color:d2d2d2;
  width:15pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}
.cell3light
{
  background-color:e6e6e6;
  width:330pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}
.cell3dark
{
  background-color:d2d2d2;
  width:330pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}
.cell33light
{
  background-color:e6e6e6;
  width:355pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}
.cell33dark
{
  background-color:d2d2d2;
  width:355pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}

.cell8light
{
  background-color:e6e6e6;
  width:65pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}
.cell8dark
{
  background-color:d2d2d2;
  width:65pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}
.cell20light
{
  background-color:e6e6e6;
  width:100pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}
.cell20dark
{
  background-color:d2d2d2;
  width:100pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}
.cell60light
{
  background-color:e6e6e6;
  width:150pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}
.cell60dark
{
  background-color:d2d2d2;
  width:150pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}

.cell30light
{
  background-color:e6e6e6;
  width:60pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}
.cell30dark
{
  background-color:d2d2d2;
  width:60pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}

.cell301light
{
  background-color:e6e6e6;
  width:60pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}
.cell301dark
{
  background-color:d2d2d2;
  width:60pt;
  border-top:none;
  padding:0cm 5.4pt 0cm 5.4pt;
}

.table2
{
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #404040;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
    text-decoration:none;
}

.cellbigek
{
  background-color:white;
  width:100%;
  border-top:none;
  padding:0cm 0pt 0cm 0pt;
}
.cellek
{
  background-color:d2d2d2;
  width:190px;
  border-top:none;
  padding:0cm 0pt 0cm 0pt;
}
.cellekli
{
  background-color:e6e6e6;
  width:190px;
  border-top:none;
  padding:0cm 0pt 0cm 0pt;
}

.cellek1
{
  background-color:d2d2d2;
  width:270px;
  border-top:none;
  padding:0cm 0pt 0cm 0pt;
}
.cellekli1
{
  background-color:e6e6e6;
  width:270px;
  border-top:none;
  padding:0cm 0pt 0cm 0pt;
}

.cellbig2
{
  background-color:white;
  width:270pt;
  border-top:none;
  padding:0cm 0pt 0cm 0pt;
}


.st_tdcss
{
 vertical-align:middle;
}

.st_ftcss
{
	height : 25px;
	width : 129px;
	vertical-align:middle;
}
.blulink
{
    PADDING-TOP: 5px;
    PADDING-BOTTOM: 5px;
    LINE-HEIGHT: 14pt;
    FONT-SIZE: 12px;
    TEXT-ALIGN:left;
    COLOR: #0071ab;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
    text-decoration:none;
}

.lezantes
{
    LINE-HEIGHT: 10pt;
    FONT-SIZE: 10px;
    TEXT-ALIGN:left;
    COLOR: #000000;
    vertical-align:text-top;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}
.lezantestitle
{
    LINE-HEIGHT: 10pt;
    FONT-SIZE: 11px;
     PADDING-BOTTOM: 5px;
    TEXT-ALIGN:left;
    COLOR: #000000;
    vertical-align:text-top;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma, Arial, Verdana, sans-serif;
}

